setup.bat
Gemfile.lock
.bundle
bundle/
data/images/dest_e.png
data/images/dest_ne.png
data/images/dest_nw.png
data/images/dest_s.png
data/images/dest_se.png
data/images/dest_sw.png
data/images/dest_w.png
data/images/normal_e.png
data/images/normal_ne.png
data/images/normal_nw.png
data/images/normal_s.png
data/images/normal_se.png
data/images/normal_sw.png
data/images/normal_w.png
data/images/orig_e.png
data/images/orig_ne.png
data/images/orig_nw.png
data/images/orig_s.png
data/images/orig_se.png
data/images/orig_sw.png
data/images/orig_w.png
